# Кэши зависимостей
/node_modules/
/packages/

# Скомпилированные файлы
*.o
*.pyc
*.class

# Каталоги выходных данных сборки
/bin/
/out/
/target/

# Файлы, сгенерированные во время выполнения
*.log
*.lock
*.tmp

# Скрытые системные файлы
.DS_Store
Thumbs.db

# Личные файлы конфигурации IDE
.idea/
*.iml
workspace.xml
